.container {
  text-align: center;
  margin-top: 30px;
}

.movies {
  text-align: center;
  margin: 20%;
}

.container_movie {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20%;
  border-style: solid 2px;
  border-radius: 5px;
}

.movie_title {
  padding: 10px;
  font-size: 13px;
  font-weight: 400;
  background: rgb(246, 246, 246);
}